/* .keen-slider__slide {
  padding: 1vw;
} */

[class^="number-slide"],
[class*=" number-slide"] {
  height: 100%;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
  height: 100%;
  padding-top: clamp(1.6rem, calc(0.7rem + 1.5vw), 100rem);
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  padding-top: clamp(1.6rem, calc(0.7rem + 1.5vw), 100rem);
}

.dot {
  border: none;
  width: 0.7vw;
  height: 0.7vw;
  background: #1010104d;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #101010;
}

.arrow {
  position: absolute;
  top: calc(-4% - clamp(1.2rem, calc(0.7rem + 1.2vw), 100rem));
  font-size: clamp(1.2rem, calc(0.7rem + 1.2vw), 100rem);
  padding: 0 clamp(1rem, calc(0.5rem + 0.7vw), 100rem);
  border: 0.2vw solid #10101080;
  border-radius: 1vw;
  cursor: pointer;
}

.arrow--left {
  right: calc(2% + clamp(2.5rem, calc(1rem + 2vw), 100rem));
}

.arrow--right {
  right: 0;
}

@media only screen and (max-width: 1024px) {
  .arrow {
    top: calc(-3.5% - clamp(1.2rem, calc(0.7rem + 1.2vw), 100rem));
  }
}

@media only screen and (max-width: 768px) {
  .arrow {
    top: calc(-3% - clamp(1.2rem, calc(0.7rem + 1.2vw), 100rem));
  }
}

@media only screen and (max-width: 640px) {
  .arrow {
    top: calc(-2.7% - clamp(1.2rem, calc(0.7rem + 1.2vw), 100rem));
  }
}
