@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #008ec4;
  --white-shade: #f0f0f0;
  --black-shade: #101010;
  --font-2xl: clamp(4rem, calc(2rem + 5vw), 100rem);
  --font-xl: clamp(3rem, calc(1.5rem + 2.5vw), 100rem);
  --font-lg: clamp(2rem, calc(1rem + 1.5vw), 100rem);
  --font-base: clamp(1.6rem, calc(0.5rem + 1vw), 100rem);
  --font-sm: clamp(1.3rem, calc(0.5rem + 0.7vw), 100rem);
  --font-xs: clamp(1rem, calc(0.5rem + 0.5vw), 100rem);
  --primary-icon-container-size: clamp(2.5rem, calc(1rem + 2vw), 100rem);
  --padding-2xl: clamp(2rem, calc(1rem + 3vw), 100rem);
  --padding-xl: clamp(2rem, calc(1rem + 2vw), 100rem);
  --padding-base: clamp(1.6rem, calc(0.7rem + 1.5vw), 100rem);
  --padding-sm: clamp(1rem, calc(0.5rem + 0.7vw), 100rem);
  --padding-xs: clamp(0.8rem, calc(0.2rem + 0.5vw), 100rem);
  --gap-lg: clamp(0.5rem, calc(1rem + 2vw), 100rem);
  --gap-sm: clamp(0.5rem, calc(0.5rem + 0.7vw), 100rem);
  --gap-xs: clamp(0.3rem, calc(0.3rem + 0.3vw), 100rem);
  --primary-border-radius: 5vw;
  --secondary-border-radius: 1vw;
  --primary-dot-size: .7vw;
  --primary-transition: 0.3s ease;
}

* {
  margin: 0; /* Reset web margin to 0 */
  padding: 0; /* Reset web padding to 0 */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

html {
  font-size: 10px; /* Base font size */
  scroll-behavior: smooth; /* Smooth scrolling */
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif; /* Use Poppins font */
  background-color: var(--white-shade);
}

/* ------------------------------> Reuseable Content <------------------------------ */
a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent element */
}

ul li {
  list-style-type: none; /* Remove default list style */
}

button {
  color: var(--black-shade);
  font-size: var(--font-base);
  font-weight: 500;
  padding: var(--padding-xs) var(--padding-xl);
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

button:focus-within {
  outline: none;
}

section {
  margin-top: clamp(3rem, calc(2rem + 5vw), 100rem);
  margin-bottom: clamp(1rem, calc(0.5rem + 2vw), 100rem);
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-shade);
  border: 0.2vw solid var(--primary-color);
  border-radius: 0.5vw;
}

.primary-btn:hover {
  background-color: #008ec41a;
  color: var(--black-shade);
}

.secondary-btn {
  background-color: #008ec41a;
  color: var(--black-shade);
  border: 0.2vw solid var(--primary-color);
  border-radius: 0.5vw;
}

.secondary-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-shade);
}

.web-main-row {
  width: 85%;
  height: 100%;
  margin: 0 auto; /* Center the main row */
}

.section-title-container {
  text-align: center;
  padding-bottom: var(--padding-xl);
}

.section-title h2 {
  font-size: var(--font-lg);
  font-weight: 700;
}

/* ------------------------------> Start Header Section <------------------------------ */
header {
  width: 100%;
  height: 100dvh;
  transition: var(--primary-transition);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: 10;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--white-shade);
  font-size: var(--font-lg);
  font-weight: 700;
}

.navigation-bar ul {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.navigation-bar ul li a {
  position: relative;
  color: var(--white-shade);
  font-size: var(--font-base);
  padding: 0.5vw 1vw;
}

.navigation-bar ul li a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0.2vw;
  background: var(--white-shade);
  transform: scale(0);
  border-radius: var(--primary-border-radius);
  transform-origin: right;
  transition: transform var(--primary-transition);
}

.navigation-bar ul li a:hover::before {
  transform: scale(1);
  transform-origin: left;
}

/* Navigation Menu For Smaller Devices */
.navigation-menu {
  display: none;
}

.navigation-menu .open-menu .menu-btn i {
  color: var(--white-shade);
  font-size: var(--font-lg);
}

.navigation-small-device {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: #1010104d;
}

.banner {
  width: 100%;
  height: 100%;
}

.banner-bg {
  position: relative;
  width: 100%;
  background-image: url("../assets/acenda-main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.banner-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d; /* Semi-transparent overlay */
}

.title-description-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
}

.title-description {
  background-color: var(--white-shade);
  text-align: center;
  padding: var(--padding-xl) var(--padding-2xl);
  padding-bottom: var(--padding-xs);
  border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
}

.title-description .title {
  color: var(--primary-color);
  font-size: var(--font-xl);
  letter-spacing: 0.2vw;
  line-height: 1.2;
}

.title-description .description {
  color: var(--black-shade);
  font-size: var(--font-lg);
  line-height: 1;
}

.create-account {
  background-color: var(--white-shade);
  padding: var(--padding-xl) var(--padding-2xl);
  padding-top: var(--padding-xs);
  border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
  box-shadow: 0 0 1vw #008ec44d;
}

.create-account form .fields {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-sm);
}

.create-account form .fields input {
  width: 100%;
  background-color: #008ec41a;
  font-size: var(--font-base);
  padding: var(--padding-xs);
  border: none;
  border-bottom: 0.2vw solid var(--primary-color);
  border-radius: 0.3vw;
}

.create-account form .fields input:focus-within {
  outline: none;
}

.create-account form .fields input:focus-within::placeholder {
  color: #008ec44d;
  transition: 0.2s ease;
}

.create-account form .create-account-btns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-sm);
  margin-top: var(--padding-sm);
}

.create-account form .create-account-btns button:first-child {
  grid-column: 3 / span 1;
}

.create-account form .create-account-btns button:last-child {
  grid-column: 4 / span 1;
}

/* ------------------------------> End Header Section <------------------------------ */

/* ------------------------------> Start Why Choose Us Section <------------------------------ */
.why-choose-us-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-sm);
}

.box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: var(--padding-sm) var(--padding-xs);
  border-radius: 0.5vw;
  transition: var(--primary-transition);
}

.box:hover {
  transform: translateY(-5%);
  box-shadow: 0.2vw 0.2vw 1vw #008ec480;
  cursor: pointer;
}

.box .icon {
  width: fit-content;
  height: fit-content;
  background-color: #008ec41a;
  margin: 0 auto;
  padding: var(--padding-sm);
  border-radius: 1vw;
}

.box .icon i {
  width: var(--font-xl);
  height: var(--font-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: var(--font-base);
  border: 0.2vw solid var(--primary-color);
  border-radius: 50%;
}

.box .info .title h4 {
  font-size: var(--font-base);
  padding: var(--padding-xs) 0;
  line-height: 1.1;
}

.box .info .description p {
  font-size: var(--font-sm);
  line-height: 1.2;
}

/* ------------------------------> End Why Choose Us Section <------------------------------ */

/* ------------------------------> End Our Partners Logo Section <------------------------------ */
.our-partners-logos[marquee-animation="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw 5vw;
}

.our-partners-logos[marquee-animation="true"] .logo-container {
  width: max-content;
  flex-wrap: nowrap;
  animation: logosMarquee 10s linear infinite;
}

.logo-container .logo {
  width: clamp(1.6rem, calc(7rem + 12vw), 100rem);
  padding: var(--padding-sm);
}

.logo-container .logo img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

@keyframes logosMarquee {
  to {
    transform: translateX(calc(-50% - 2.5vw));
  }
}

/* ------------------------------> End Our Partners Logo Section <------------------------------ */

/* ------------------------------> End Top Booking Section <------------------------------ */
.book-now-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-sm);
}

.book-now-card {
  position: relative;
  min-width: 0;
  border-radius: var(--secondary-border-radius);
  cursor: pointer;
  overflow: hidden;
}

.keen-slider {
  width: 100%;
  height: 100%;
  min-width: 0;
  border-radius: 0;
}

[class^="number-slide"],
[class*=" number-slide"] {
  height: 100%;
  max-height: 100vh;
}

[class^="number-slide"] img,
[class*=" number-slide"] img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: var(--secondary-border-radius);
}

.navigation-wrapper {
  position: relative;
  height: 100%;
}

.dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: var(--primary-dot-size);
  height: var(--primary-dot-size);
  background: #ffffff80;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #fff;
}

.book-now-card .rating {
  position: absolute;
  top: 5%;
  right: 3%;
  z-index: 10;
  background-color: #10101080;
  padding: var(--padding-xs);
  border-radius: var(--secondary-border-radius);
}

.book-now-card .rating p {
  font-size: var(--font-xs);
  color: var(--white-shade);
  font-weight: 600;
}

.book-now-card .rating p span i {
  color: #f7b900;
}

.booking-card-info {
  padding-bottom: var(--padding-xs);
}

.booking-card-info .title-and-price {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-sm);
}

.booking-card-info .title-and-price h6 {
  font-size: var(--font-sm);
}

.booking-card-info .title-and-price p {
  font-weight: 600;
}

.booking-card-info .location p {
  font-size: var(--font-sm);
  color: #101010bf;
}

.booking-card-info .location p span i {
  color: #101010;
}

.see-all-btn {
  text-align: center;
  padding-top: var(--padding-sm);
}

/* ------------------------------> End Top Booking Section <------------------------------ */

/* ------------------------------> Start Explore Section <------------------------------ */
.explore-container {
  background-image: url("../assets/explore-sea-beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.explore-container .overlay {
  width: 100%;
  height: 100%;
  background-color: #000000b1;
}

.explore-content {
  padding: var(--padding-2xl) 0;
}

.explore-content .title {
  border-bottom: 0.2vw solid var(--white-shade);
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-2xl);
}

.explore-content .title h2 {
  font-size: var(--font-2xl);
  color: var(--white-shade);
  line-height: 1.1;
}

.explore-content .places {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-lg);
  padding-top: var(--padding-xl);
}

.explore-content .places .place-info {
  width: 42%;
}

.explore-content .places .place-info p {
  font-size: var(--font-base);
  color: var(--white-shade);
  line-height: 1.4;
  padding-bottom: var(--padding-sm);
}

.explore-content .places .place-info button:hover {
  background-color: var(--white-shade);
  color: var(--primary-color);
}

.explore-content .places .places-cards {
  width: 52%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-sm);
}

.places-cards .card {
  width: 100%;
  height: 100%;
}

.places-cards .card .card-image {
  width: 100%;
  height: min-content;
}

.places-cards .card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--secondary-border-radius);
}

.places-cards .card .card-title h6 {
  font-size: var(--font-sm);
  color: var(--white-shade);
}

/* ------------------------------> End Explore Section <------------------------------ */

/* ------------------------------> Start Special Offer Section <------------------------------ */
.special-offer-container {
  display: flex;
  align-items: center;
  background-color: #008ec41a;
  border-radius: var(--primary-border-radius);
  overflow: hidden;
}

.special-offer-container .image {
  width: 40%;
}

.special-offer-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-offer-container .content {
  width: 60%;
  text-align: center;
}

.special-offer-container .content .title h3 {
  font-size: var(--font-lg);
  line-height: 1.1;
}

.special-offer-container .content {
  width: max-content;
  margin: 0 auto;
}

.special-offer-container .content .subscribe-box form input {
  width: 100%;
  background-color: #008ec41a;
  font-size: var(--font-sm);
  margin: var(--padding-sm) 0;
  padding: var(--padding-xs);
  border: none;
  border-bottom: 0.2vw solid var(--primary-color);
  border-radius: 0.3vw;
  box-shadow: 0 0 1vw #0000004d;
}

.special-offer-container .content .subscribe-box form input:focus-within {
  outline: none;
}

.special-offer-container
  .content
  .subscribe-box
  form
  input:focus-within::placeholder {
  color: #008ec44d;
  transition: 0.2s ease;
}

/* ------------------------------> End Special Offer Section <------------------------------ */

/* ------------------------------> Start Footer Section <------------------------------ */
footer {
  margin-top: clamp(3rem, calc(2rem + 5vw), 100rem);
}

.footer-container {
  background-color: var(--black-shade);
  color: var(--white-shade);
  padding: var(--padding-2xl) 0;
}

.footer-links-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-sm);
  padding-bottom: var(--padding-2xl);
}

.links-table-column .title h5 {
  font-size: clamp(1.6rem, calc(0.5rem + 1.5vw), 100rem);
  padding-bottom: var(--padding-sm);
}

.links-table-column ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.links-table-column ul li a {
  font-size: var(--font-sm);
  line-height: 1.1;
}

.social-icon-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}

.social-icon-container ul li a {
  display: inline-block;
  width: var(--primary-icon-container-size);
  height: var(--primary-icon-container-size);
  background-color: var(--white-shade);
  border-radius: 50%;
  overflow: hidden;
}

.social-icon-container ul li a i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-shade);
  font-size: var(--font-base);
}

.copyright-container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--padding-sm);
  padding-top: var(--padding-base);
  border-top: 0.2vw solid var(--white-shade);
}

.copyright-content p {
  font-size: var(--font-sm);
  color: #f0f0f080;
}

.partners-payment-cards ul {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.partners-payment-cards ul li i {
  font-size: var(--font-lg);
}

/* ------------------------------> End Footer Section <------------------------------ */
