@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #008ec4;
  --white-shade: #f0f0f0;
  --black-shade: #101010;
  --font-xl: clamp(3rem, calc(1.5rem + 2.5vw), 100rem);
  --font-lg: clamp(2rem, calc(1rem + 1.5vw), 100rem);
  --font-base: clamp(1.7rem, calc(0.5rem + 1vw), 100rem);
  --font-sm: clamp(1rem, calc(0.5rem + 0.5vw), 100rem);
  --padding-2xl: clamp(2rem, calc(1rem + 3vw), 100rem);
  --padding-xl: clamp(2rem, calc(1rem + 2vw), 100rem);
  --padding-sm: clamp(1rem, calc(0.5rem + 0.7vw), 100rem);
  --padding-xs: clamp(0.8rem, calc(0.2rem + 0.5vw), 100rem);
  --gap-sm: clamp(0.5rem, calc(0.5rem + 0.7vw), 100rem);
  --gap-xs: clamp(0.3rem, calc(0.3rem + 0.3vw), 100rem);
  --primary-border-radius: 5vw;
}

* {
  margin: 0; /* Reset web margin to 0 */
  padding: 0; /* Reset web padding to 0 */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

html {
  font-size: 10px; /* Base font size */
  scroll-behavior: smooth; /* Smooth scrolling */
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif; /* Use Poppins font */
  background-color: var(--white-shade);
}

/* ------------------------------> Reuseable Content <------------------------------ */
a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent element */
}

ul li {
  list-style-type: none; /* Remove default list style */
}

button {
  color: var(--black-shade);
  font-size: var(--font-base);
  font-weight: 500;
  padding: var(--padding-xs) var(--padding-xl);
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

button:focus-within {
  outline: none;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-shade);
  border: 0.2vw solid var(--primary-color);
  border-radius: 0.5vw;
}

.primary-btn:hover {
  background-color: #008ec41a;
  color: var(--black-shade);
}

.web-main-row {
  width: 85%;
  height: 100%;
  margin: 0 auto; /* Center the main row */
}

.section-title {
  font-size: var(--font-lg);
}

/* ------------------------------> Start Header Section <------------------------------ */
header {
  width: 100%;
  height: 100dvh;
  transition: 0.3s ease;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: 10;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--white-shade);
  font-size: var(--font-lg);
  font-weight: 700;
}

.navigation-bar ul {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.navigation-bar ul li a {
  position: relative;
  color: var(--white-shade);
  font-size: var(--font-base);
  padding: 0.5vw 1vw;
}

.navigation-bar ul li a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0.2vw;
  background: var(--white-shade);
  transform: scale(0);
  border-radius: var(--primary-border-radius);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.navigation-bar ul li a:hover::before {
  transform: scale(1);
  transform-origin: left;
}

/* Navigation Menu For Smaller Devices */
/* .navigation-menu {
  display: none;
}

.navigation-menu .open-menu .icon i {
  color: var(--white-shade);
  font-size: var(--font-lg);
} */

.banner {
  width: 100%;
  height: 100%;
}

.banner-bg {
  position: relative;
  width: 100%;
  height: 76%;
  background-image: url("../assets/acenda-main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.banner-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d; /* Semi-transparent overlay */
}

.title-description-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
}

.title-description {
  background-color: var(--white-shade);
  text-align: center;
  padding: var(--padding-xl) var(--padding-2xl);
  padding-bottom: var(--padding-xs);
  border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
}

.title-description .title {
  color: var(--primary-color);
  font-size: var(--font-xl);
  line-height: 1.2;
}

.title-description .description {
  color: var(--black-shade);
  font-size: var(--font-lg);
  font-weight: 300;
  line-height: 1;
}

.create-account {
  background-color: var(--white-shade);
  padding: var(--padding-xl) var(--padding-2xl);
  padding-top: var(--padding-xs);
  border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
  box-shadow: 0 0 1vw #008ec44d;
}

.create-account form {
  text-align: center;
}

.create-account form .fields {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-sm);
}

.create-account form .fields input {
  width: 100%;
  background-color: #008ec41a;
  font-size: var(--font-base);
  padding: var(--padding-xs);
  border: none;
  border-bottom: 0.2vw solid var(--primary-color);
  border-radius: 0.3vw;
}

.create-account form .fields input:focus-within {
  outline: none;
}

.create-account form .fields input:focus-within::placeholder {
  color: #008ec44d;
  transition: 0.2s ease;
}

.create-account form button {
  margin-top: var(--padding-sm);
}

/* ------------------------------> End Header Section <------------------------------ */
